html, body{
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    background-color: rgb(82, 2, 2);
    user-select: none;
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width:50%;
    border: 30px  black;
    padding: 10px;

}

#shopping-list{
    color:antiquewhite;
}

img{
    width: 220px;
    margin: 0 auto;
}

input{
    background-color: #DCE1EB;
    color: #432000;
    text-align: center;
    font-size: 15px;
    font-family: 'Dancing Script', cursive;
    margin: 10px 0;
    border-radius: 10px;
    cursor:-moz-grab;
}



#supermarket-aisle{

    border-radius: 15px;
    max-width: 350px;
    min-width: 100px;
}

button{
    background-color:black;
    font-size: 15px;
    color: white;
    font-family: 'Dancing Script', cursive;
    border-radius: 8px;

}

button:hover{

    background-color: brown;
    cursor: pointer;
}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}

ul li{
    font-size: 20px;
    background-color: black;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);

}

ul li:hover{
    background-color: darkblue;
    cursor:pointer;
}